.slick-slide{
  max-width: 365px !important;
}
.slick-track{
  display: flex !important;
  gap:24px !important;
}

.parent-card :hover svg path{
  fill: #173EAD;
}
.parent-card :hover .month{
  color: white !important;
}
.parent-card :hover .sub-heading{
  color: white !important;
}
